.navbar {
    background-color: #CCCCCC;
    height: 100px;
  }

 .nav-item{
  font-size: 20px;
  background-color: #CCCCCC;
 } 


 .nav-brand{
  border-spacing: 100px;
  /*padding-left: (10px);*/
}

/*
.px-2 {
  padding-left: (spacer * .5) !important;
  padding-right: (spacer * .5) !important;
}*/

.title {
  margin-top: 130px;
}
 
.footer {
    background-color: #D066C0;
  }

.btn-primary {
  background-color: #72A3B1 !important;
   border-color: #79E2E8 !important;
}

.btn-info {
  background-color: #72A3B1 !important;
   border-color: #72A3B1 !important;
   
}

.card {
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px #0000004d; 
  animation: animate__tada 0.5s; 
}