.navbar {

    background-color: #fab2f9;
    height: 100px;
  }

.footer {

    background-color: #d066c0;
  }


.btn-primary {
  background-color: #79E2E8 !important;
   border-color: #79E2E8 !important;
}

.btn-success {
  background-color: #72A3B1 !important;
   border-color: #72A3B1 !important;
}