{% extends 'core/Crud/Vendedor/VenView.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for i in detalle %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Cliente: {{ i.id_orden.nombre_cliente }}</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">Despacho: {{ i.id_orden.tipo_despacho.Tnombre }}</h6>
                <hr>
                <h6 class="card-subtitle mb-2">Productos:</h6>
                <ul class="list-group">
                    <li class="list-group-item">{{ i.id_producto.nombre }}</li>
                </ul>
                <hr>
                <h6 class="card-subtitle mb-2">Descripción de preparación:</h6>
                <p class="card-text">{{ i.id_orden.descripcion }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}