{% extends 'core/Crud/crud.html' %}
{% load static %}
{% block content %}


 <!-- table productos-->
 <div class="container">
    <div class="card">
    <h1>Listado de Productos</h1>
    <li style="list-style: none;">
      <a class="btn new" href="{%  url 'Productoform' %}">+ Nuevo Producto</a>
    </li>
    <div class="row">
        <table class="table table-light table-striped">
          <thead>
            <tr>
              <th scope="col">Barcode</th>
              <th scope="col">nombre</th>
              <th scope="col">precio</th>
              <th scope="col">categoria</th>
              <th scope="col">stock</th>
              <th scope="col" colspan="2">Opciones</th>
            </tr>
          </thead>
            <tbody>
              {% for ve in productos %}
              <tr>
                <td>{{ve.Barcode}}</td>
                <td>{{ve.nombre}}</td>
                <td>{{ve.precio}}</td>
                <td>{{ve.categoria}}</td>
                <td>{{ve.stock}}</td>
                <td><a href="{% url 'Mod_Producto' ve.Barcode %}">Modificar</a></td>
                <td><a href="{% url 'delete_Producto' ve.Barcode %}">Eliminar</a></td>

              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>



{% endblock %}
