<table class="text-uppercase container py-5 table table-bordered  text-center">
    <thead>
        <tr>
            <th colspan="4" class="text-center vertiky">
                Carro de Compras
            </th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>
            <th><i class="fa-solid fa-trash-can"></i></th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}
        <tr>
            <td>{{value.nombre}}</td>
            <td>{{value.cantidad}}</td>
            <td class="align-item-center">
                <a href="{% url 'agregar_producto' value.producto_id %}"
                    class="btn btn-sm btn-success ">+</a>
                ${{value.precio}}
                <a href="{% url 'restar' value.producto_id  %}"
                    class="btn btn-sm btn-danger ">-</a>
            </td>
            <td class="align-item-center">
                <a href="{% url 'limpiar' value.producto_id %}"
                    class="btn btn-sm btn-outline-danger "><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">
                <div class="alert alert-danger">
                    Sin productos
                </div>
            </td>
        </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                Total: ${{importe_total_carro}}
                <a class="nav-link" href="{% url 'pagar' total=importe_total_carro  %}">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary">pagar</button>
                </div>
                </a>
            </td>
        </tr>

    </tfoot>
</table>