body {
  background-image: url(../img/bodybg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.navbar {
    background-color: #CCCCCC;
    height: 70px;
  }

  #navbarNavAltMarkup{
  font-size: 20px;
  background-color: #CCCCCC;
 } 

 .nav-brand{
  border-spacing: 100px;
  /*padding-left: (10px);*/
}

/*
.px-2 {
  padding-left: (spacer * .5) !important;
  padding-right: (spacer * .5) !important;
}*/

.title {
  margin-top: 130px;
}

@font-face {
  font-family: "greatwishes";
  src: url(../fonts/greatwishes.otf);
}

.greatwishes {
  font-family: "greatwishes";
}

@font-face {
  font-family: "simplicity";
  src: url(../fonts/simplicity.otf);
}

.simplicity {
  font-family: "simplicity";
}

@font-face {
  font-family: "vertiky";
  src: url(../fonts/vertiky.ttf);
}

.vertiky {
  font-family: "vertiky";
}

.inicio{
  height: 50vh;
  background:linear-gradient(#8b0076e7, #8b007628),url(../img/bg.png);
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
}

.inicio .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}

.inicio .info{
  width:fit-content;
  margin: auto;
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.inicio .info h2{
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 3px;
  font-family: greatwishes;
}
.inicio .info p{
  margin: 20px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
 
.footer {
    background-color: #D066C0;
    padding-bottom: 140px;
    
  }

.btn-primary {
  background-color: #72A3B1 !important;
   border-color: #79E2E8 !important;
}

.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05); 
  box-shadow: 0 0 15px #0000004d; 
  animation: animate__tada 1s; 
}

.btn-info {
  background-color: #72A3B1 !important;
   border-color: #72A3B1 !important;
   
}

.nav-link{
  font-family: vertiky;
  --nav-pills-link-font-size: 100px;
}

/*
.card {
  transition: all 0.4s ease-in-out;e
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px #0000004d; 
  animation: animate__tada 0.5s; 
}*/

.card-img-top {
  aspect-ratio: 12/9.6;
}

.list-error{
  text-align: center;
  font-family: vertiky;
}

.arma footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}


.arma .container {
  margin-top: 20px;
}

.row{
  width: 100%;
}


.pagar footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


.terminar .card{
  max-width: 800px;
  padding: 20px;
}

.terminar section{
  display: flex;
  justify-content: center;
  align-items: center;
}




.crud .container {
  margin-top: 50px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.crud .card {
  width: 800px;
  padding: 20px;
  align-items: center;
  justify-content: center;

}

.crud .new{
  color: #000000;
  background-color: #009e4f;
  margin-bottom: 15px;
}



.crud .new:hover {
  background-color: #03b35b;
}



.add .container {
  margin-top: 80px;
  display: flex;  
  align-items: center;
  justify-content: center;
}


.add .card {
  display: flex;
  width: 2000px;
  padding: 20px;

}
.add .form-group{
  align-items: center;
  align-items: center;
  justify-content: center;

}

.add form{
  padding: 10px;
}

.add input{
  margin: 5px;
}

.add .btn{
  margin-top: 10px;
  margin-bottom: 20px;
}







.add-cat .container {
  margin-top: 80px;
  display: flex;  
  align-items: center;
  justify-content: center;
}


.add-cat .card {
  display: flex;
  width: 500px;
  padding: 20px;

}
.add-cat .form-group{
  align-items: center;
  align-items: center;
  justify-content: center;

}

.add-cat form{
  padding: 10px;
}

.add-cat input{
  margin: 5px;
}

.add-cat .btn{
  margin-top: 10px;
  margin-bottom: 20px;
}




.add-ing .container {
  margin-top: 80px;
  display: flex;  
  align-items: center;
  justify-content: center;
}


.add-ing .card {
  display: flex;
  width: 600px;
  padding: 20px;

}
.add-ing .form-group{
  align-items: center;
  align-items: center;
  justify-content: center;

}

.add-ing form{
  padding: 10px;
}

.add-ing input{
  margin: 5px;
}

.add-ing .btn{
  margin-top: 10px;
  margin-bottom: 20px;
}